/****************************
***google font link********/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Roboto+Mono:ital@1&display=swap');

:root {
    --theme-color: #ff6720;
    --button-color: #ff6720;
    --text-color: #333;
    --black: #333;
    --white: #fff;
    --box-shadow: 0px 0px 7px 0px rgb(39, 39, 39);
    --box-shadow-hover: 0px 0px 20px 0px rgb(39, 39, 39);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    transition: all 0.3s linear;
}


body {
    background-color: rgb(238, 238, 238);
}

*::selection {
    color: #fff;
    background-color: var(--theme-color);
}

html {
    font-size: 65%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 0.7rem;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--theme-color);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--black);
}


